.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    button {
        padding: 10px 20px 9px 20px;
        border: none;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;
        &:hover {
            background-color: #333;
        }
    }
    span {
        font-size: 16px;
        font-weight: 600;
    }
}   