.view-batch{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-head{
        font-size: 26px;
        color: white;
        margin-top: 3rem;
    }
    &-details{
        display: flex;
        gap: 1rem;
        align-items: center;
        label{
            font-size: 22px;
            color: white;
            font-weight: 600;
        }
        span{
            font-size: 20px;
            color: white;
        }
        &-box{
            display: flex;
            gap: 3rem;
        }
    }
    &-table{
        border-radius: 10px;
        overflow: hidden;
    }
}
.filter{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &-marks{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        label{
            font-size: 18px;
            font-weight: 500;
        }
    }
    &-test{
        display: flex;
        gap: 1rem;
        align-items: center;
        span{
            font-size: 16px;
        }
        select{
            padding: 0.3rem 1rem;
            font-size: 14px;
            border-radius: 5px;
            option{
                background-color: #00000090;
                color: white;
            }
        }
    }
    &-range{
        display: flex;
        gap: 1rem;
        align-items: center;
        span{
            font-size: 16px;
        }
        input{
            padding: 0.3rem;
            font-size: 14px;
            border-radius: 5px;
            width: 100px;
        }
    }
    &-attendance{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        label{
            font-size: 18px;
            font-weight: 500;
        }
    }
}