.select {
  &-template {
    &-header {
      display: flex;
      align-items: center;
      width: calc(100% - 2rem);
      justify-content: space-between;
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding: 0 1rem;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          color: white;
          font-size: 24px;
        }
      }
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    position: relative;
    padding: 1rem 0;
    &-heading {
      font-size: 22px;
      margin: 0;
      // padding-top: 3rem;
      color: #fff;
    }
  }
  &-templates {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    &-box {
      display: flex;
      gap: 1rem;
      width: calc(100% - 2rem);
      background-color: #ffffff50;
      padding: 1rem;
      border-radius: 6px;
      &-card {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}
