@import "../Styles/variables";

.dashboard{
    background-color: $secondaryColor;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    &-main{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        overflow: auto;
        &::-webkit-scrollbar{
            width: 0.5rem;
        }
        &::-webkit-scrollbar-thumb{
            background-color: $quaternaryColor;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-track{
            background-color: $secondaryColor;
        }
    }
    &-logo{
        width: 400px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: brightness(0.5);
        z-index: 0;
    }
    &-menu{
        position: absolute;
        z-index: 1;
        display: flex;
        background-color: transparent;
        border: none;
        gap: 0.5rem;
        font-size: 1.5rem;
        color: $quinaryColor;
        margin: 1rem;
        cursor: pointer;
        &-open{
            i{
                color: $primaryColor;
            }
            span{
                font-weight: bold;
                color: $primaryColor;
            }
        }
    }
    &-screens{
        width: 100%;
        height: 100%;
        position: relative;
    }
}
.primary-button{
    background-color: $quinaryColor;
    text-decoration: none;
    color: $primaryColor;
    cursor: pointer;
    &:hover{
        background-color: $quinaryColor;
    }
}
